body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: url(../assets/background1.jpg) no-repeat center center fixed;
  background-size: cover;
}
.btn {
  margin-top: 4vh;
  color: aliceblue;
  height: 12vh;
  width: 16vw;
  background-color: #01cff2;
  border-radius: 10%;
  font-weight: bold;
  font-size: 4vh;
  cursor: pointer;
  box-shadow: 9px 9px 9px #ede4cb;
  border: none;
}
.btn:hover {
  background-color: #01cff2;
}
.button:active {
  background-color: #01cff2;
  box-shadow: 0 2vh #ede4cb;
  transform: translateY(2vh);
}
.buttonsdiv {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
